body{
    font:16px/1.5 "Times New Roman",Times,sans-serif;
    padding:0;
    margin:0;
    background-color: white;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

header{
    background:lightsalmon;
    color:blueviolet;
    font-size:12px;
    border-bottom: grey 4px solid;
}

header a{
    color:black;
    text-decoration:none;
    font-size:16px;
}

header a:hover{
    color: blue;
    
}
header li{
    display:inline;
    padding: 0 16px 0 16px;
}

header #title{
    float:left;
}

header nav{
    float:right;
    margin-top:16px;
}

#columns{
    padding:12px;
}

#columns .column{
    float:left;
    text-align:center;
    width:30%;
    padding:12px;
    border-right:grey 4px solid;
}

footer{
    background: lightsalmon;
    color:black;
    text-align:center;
    position: fixed;
    bottom: 0;
    width:100%;
    padding:0;
}